<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Earthquake Data</title>
</head>
<body>
<h1>Recent Earthquakes</h1>
<table>
    <thead>
    <tr>
        <th>Location</th>
        <th>Country</th>
        <th>Magnitude</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="earthquake : ${earthquakes}">
        <td th:text="${earthquake.location}" />
        <td th:text="${earthquake.country}" />
        <td th:text="${earthquake.magnitude}" />
        <td th:text="${earthquake.time}" />
    </tr>
    </tbody>
</table>
</body>
</html>
