<!-- results.html -->
<table>
    <thead>
    <tr>
        <th>Country</th>
        <th>Location</th>
        <th>Magnitude</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="earthquake : ${earthquakes}">
        <td th:text="${earthquake.country}"></td>
        <td th:text="${earthquake.location}"></td>
        <td th:text="${earthquake.magnitude}"></td>
        <td th:text="${earthquake.time}"></td>
    </tr>
    </tbody>
    <a href="/earthquake">Input New Time Range</a>
</table>
